@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
/* General Styling */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgb(31, 30, 30);
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fdf6f0;
}

/* Header */
header {
    color: white;
    background: #f67134;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.h2{
    color: #1a2a6c;
    text-align: center;
}

/* Main Sections */
.info-section, .video-section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: left;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Video Grid */
.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    justify-items: center;
    margin: 20px auto;
    max-width: 90%;
}

/* Video Styling */
iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background: #f67134;
    color: white;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
}
